* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body {
    background-color: #E7E7E7;
    padding-top: 100px;
}
header {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
   
}
.container {
    max-width: 520px;
    width: 100%;
    margin: 0 auto;
}

    label {
        font-weight: bold;
        font-size: 24px;
    }
    form {
        margin-top: 16px;
        font-size: 18px;
    }
    input, button {
        padding:0px 8px;
        font-size: 18px;
    }

    .concluida {
        text-decoration: line-through;
    }

    ul {
        margin-top: 16px;
    }
    h1 {
        text-align: center;
    }

    li:hover {
        cursor: pointer;
      }
      li {
        font-size: 18px;
        font-weight: lighter;
      }